{{ define "head" }}
<script>var countdownDate = new Date("{{ .Site.Params.dateLimite }}");</script>
<script src="{{ "js/ferme-crowdfunding-form.min.js" | relURL }}"></script>
{{ end }}

{{ define "main" }}
<div class="ferme-content">
  <div id="crowdfunding-form-message" class="ferme-notification-container ferme-hidden">
    <div class="ferme-notification">
      <button class="delete"></button>
      <div class="ferme-notification-body">
      </div>
    </div>
  </div>
  <div class="ferme-section">
    <div class="ferme-box">
      <h1 class="ferme-title pb-2">{{ .Title }}</h1>
      {{- $percent := lang.NumFmt 0 (div (mul .Site.Params.pretActuel 100) .Site.Params.pretTotal) -}}
      <progress class="progress is-large is-primary" value="{{ .Site.Params.pretActuel }}" max="{{ .Site.Params.pretTotal }}">{{ $percent }}%</progress>
      <p>Montant total réuni : {{ .Site.Params.pretActuel }}€ sur {{ .Site.Params.pretTotal }}€, soit <strong>{{ $percent }}%</strong>.</p>
      <p>Date limite : {{ .Site.Params.dateLimite }}. <span id="ferme-countdown"></span></p>
      <p><a href="#formulaire">N'hésitez pas à participer !</a></p>
    </div>
    {{ .Content }}
  </div>
  {{ $resources := .Resources.ByType "page" }}
  {{ range sort $resources "Name" }}
  <div class="ferme-section">
    <h1 class="ferme-title" id="{{ .Title | urlize }}">{{ .Title }}</h1>
    {{ .Content }}
  </div>
  {{ end }}
  <div class="ferme-section">
    <div class="ferme-box">
      <h1 id="formulaire" class="ferme-title pb-2">Le Formulaire de prêt</h1>
      {{ partial "crowdfunding-form.html" . }}
    </div>
  </div>
</div>
{{ end }}
