{{ define "main" }}
<div class="ferme-content">
  <div class="ferme-section">
    <h1 class="ferme-title pb-2">{{ .Title }}</h1>
    {{- $percent := lang.NumFmt 0 (div (mul .Site.Params.pretActuel 100) .Site.Params.pretTotal) -}}
    <progress class="progress is-large is-primary" value="{{ .Site.Params.pretActuel }}" max="{{ .Site.Params.pretTotal }}">{{ $percent }}%</progress>
    <p>Montant total réuni: {{ .Site.Params.pretActuel }}€ sur {{ .Site.Params.pretTotal }}€, soit <strong>{{ $percent }}%</strong>. <a href="#formulaire">N'hésitez pas à participer!</a></p>
    {{ .Content }}
  </div>
  {{ $resources := .Resources.ByType "page" }}
  {{ range sort $resources "Name" }}
  <div class="ferme-section">
    <h1 class="ferme-title" id="{{ .Title | urlize }}">{{ .Title }}</h1>
    {{ .Content }}
  </div>
  {{ end }}
  <div class="ferme-section">
    <h1 id="formulaire" class="ferme-title pb-2">Le Formulaire de prêt</h1>
    {{ partial "crowdfunding-form.html" }}
  </div>
</div>
{{ end }}
