<address>
  <div class="ferme-columns address">
    <div class="column is-one-fifth">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
    </div>
    <div class="column is-four-fifths">
      {{ range $address := .Site.Params.Address }}
      <span class="address">
        {{ $address }}
      </span>
      {{ end }}
      <span class="address is-size-7">
        <a href="geo:{{ .Site.Params.Latitude }},{{ .Site.Params.Longitude }};">{{ .Site.Params.Latitude }},{{ .Site.Params.Longitude }}</a>
      </span>
    </div>
  </div>
  <div class="ferme-columns phone">
    <div class="column is-one-fifth">
      <i class="fa fa-phone" aria-hidden="true"></i>
    </div>
    <div class="column is-four-fifths">
      <a href="tel:{{ .Site.Params.Phone }}">{{ .Site.Params.Phone }}</a>
    </div>
  </div>
  <div class="ferme-columns email">
    <div class="column is-one-fifth">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </div>
    <div class="column is-four-fifths">
      <a href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Email }}</a>
    </div>
  </div>
</address>
