<form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">
  <div class="ferme-hidden">
    <div class="field-label is-normal">
      <label class="label">Ne pas remplir si vous êtes un humain</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input name="bot-field" />
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Prénom/Nom</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded has-icons-left">
          <input class="input" type="text" placeholder="Prénom" name="first-name" required>
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <div class="control is-expanded has-icons-left">
          <input class="input" type="text" placeholder="Nom" name="last-name" required>
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Date et lieu de naissance</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded has-icons-left">
              <input class="input" type="date" name="birthdate" required>
              <span class="icon is-small is-left">
                <i class="fa fa-birthday-cake"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <div class="control is-expanded has-icons-left">
              <input class="input" type="text" name="birthcity" placeholder="Paris (75)" required>
              <span class="icon is-small is-left">
                <i class="fa fa-birthday-cake"></i>
              </span>
            </div>
          </div>
        </div>
        <p class="help">(Nécessaire pour pré-remplir la convention de prêt)</p>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Adresse</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded has-icons-left">
          <input class="input" type="text" placeholder="2 rue des Acacias" name="address" required>
          <span class="icon is-small is-left">
            <i class="fa fa-map"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Code postal</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded has-icons-left">
          <input class="input" type="text" placeholder="42000" name="postalcode" required>
          <span class="icon is-small is-left">
            <i class="fa fa-map"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Ville</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded has-icons-left">
          <input class="input" type="text" placeholder="Saint-Étienne" name="city" required>
          <span class="icon is-small is-left">
            <i class="fa fa-map"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Pays</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded has-icons-left">
          <input class="input" type="text" value="France" name="country" required>
          <span class="icon is-small is-left">
            <i class="fa fa-globe"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Email</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded has-icons-left">
          <input class="input" type="email" placeholder="coucou@" name="email" required>
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Montant</label>
    </div>
    <div class="field-body">
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="number" step="100" min="100" max="{{ .Site.Params.pretTotal }}" placeholder="1000" name="amount" required>
        </div>
        <div class="control">
          <a class="button is-static">
            €
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Taux d'intérêt</label>
    </div>
    <div class="field-body">
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="number" step="0.1" min="{{ .Site.Params.tauxMin }}" max="{{ .Site.Params.tauxMax }}" placeholder="0" value="0" name="rate" required>
        </div>
        <div class="control">
          <a class="button is-static">
            %
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input type="checkbox" name="meat" checked>

          Je suis intéressé pour me faire rembourser une partie de mon prêt en
          colis de viande (ou en éventuels autres produits de la ferme).

          <p class="help">
            Les colis devraient faire entre 6 et 7kg, et devraient coûter 15€/kg,
            avec une participation au transport de 0 à 1€/kg selon l'éloignement de
            la ferme (soit entre 90 et 112€ le colis). Cocher cette case ne vous
            engage en rien, et me permet juste de savoir si vous voulez que je vous
            contacte quand j'envisagerai une livraison près de chez vous.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Message <span class="help">(Facultatif)</span></label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <textarea name="message" class="textarea"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary">Valider</button>
          <p>Pour tout problème, n'hésitez pas à me contacter : <a href="mailto:{{ .Site.Params.email }}">&lt;Félix Sipma&gt;</a></p>
        </div>
      </div>
    </div>
  </div>
</form>
