{{ define "head" }}
<link rel="stylesheet" type="text/css" href="{{ "css/ferme-map.min.css" | relURL }}">
{{ end }}

{{ define "footer" }}
<script>
  window.addEventListener("scroll", function(){
    if (document.getElementById("ferme-top-arrow").parentNode.scrollHeight < window.innerHeight + window.scrollY) {
      document.getElementById("ferme-top-arrow").style.bottom = "-100%";
    } else {
      document.getElementById("ferme-top-arrow").style.bottom = "0";
    }
  }, { passive: true });
</script>
<script>
  var longitude = {{ .Site.Params.longitude }}
  var latitude = {{ .Site.Params.latitude }}
</script>
<script src="{{ "js/ferme-map.min.js" | relURL }}"></script>
{{ end }}

{{ define "ferme-nav-classes" }}{{ end }}

{{ define "ferme-header-classes" }} ferme-header-with-logo{{ end }}

{{ define "header-logo" }}
<div id="ferme-header-logo" class="header">
  <div class="ferme-logo-bio">
    <span>
      <img src="{{ "img/logo_np.svg" | relURL }}" alt="logo Nature & Progrès" onerror="this.src='{{ "img/logo_np.png" | relURL }}'">
    </span>
  </div>
  {{/* TODO: uncomment when AB agreement is given
  <div class="ferme-logo-bio">
    <span>
      <img src="{{ "img/AB.svg" | relURL }}" alt="logo AB" onerror="this.src='{{ "img/AB.png" | relURL }}'">
    </span>
    <span>
      <img src="{{ "img/EU_Organic.svg" | relURL }}" alt="logo bio EU" onerror="this.src='{{ "img/EU_Organic.png" | relURL }}'">
    </span>
  </div>
  */}}
  <div class="ferme-logo">
    <a href="{{ .Site.BaseURL | relURL }}">
      <img class="ferme-logo-img" src="{{ "img/logo_ferme.svg" | relURL }}" alt="logo ferme" onerror="this.src='{{ "img/logo_ferme.png" | relURL }}'">
    </a>
  </div>
</div>
{{ end }}

{{ define "banner" }}
<div class="ferme-banner">
  <div class="ferme-banner-wrapper">
  </div>
</div>
<div id="ferme-top-arrow" class="ferme-top-arrow-container ferme-hidden-on-mobile">
  <a href="#le-projet-en-deux-mots">
    <i class="fa fa-arrow-circle-down fa-2x ferme-top-arrow"></i>
  </a>
</div>
{{ end }}

{{ define "main" }}
<div class="ferme-content">
  {{ range sort (where .Site.RegularPages "Type" "homepage") "Path" }}
  <div class="ferme-section">
    <h1 class="ferme-title" id="{{ .Title | urlize }}">{{ .Title }}</h1>
    {{ .Content }}
  </div>
  {{ end }}
  {{ .Content }}
</div>
<div class="ferme-section ferme-no-right-padding-on-desktop">
  <h1 id="contact" class="ferme-title">Contact</h1>
  <div class="ferme-columns">
    <div class="ferme-column is-one-third">
      {{ partial "address.html" . }}
    </div>
    <div class="ferme-column is-two-thirds ferme-map-column">
      <div id="fermemap"></div>
    </div>
  </div>
</div>
{{ end }}
