// local variables
$ferme-logo-height-mobile: 150px;
$ferme-logo-container-height-mobile: $ferme-logo-height-mobile + 20px;
$ferme-logo-height: 200px;
$ferme-logo-container-height: $ferme-logo-height + 20px;
$ferme-navbar-height: 50px;
$ferme-people-img-size: 160px;
$ferme-people-img-size-mobile: 80px;
$ferme-banner-min-height: 250px;
$ferme-banner-height: 100%;
$ferme-banner-height-mobile: 300px;
$ferme-banner-height-tablet: 400px;
$ferme-banner-img-src: url("../img/vaches-chaussitre.jpg");
$ferme-banner-img-src-768: url("../img/vaches-chaussitre_768.jpg");
$ferme-banner-img-src-1024: url("../img/vaches-chaussitre_1024.jpg");
$ferme-banner-img-src-1216: url("../img/vaches-chaussitre_1216.jpg");
$ferme-banner-img-src-1408: url("../img/vaches-chaussitre_1408.jpg");
$ferme-map-height: 350px;

$granny-smith-apple: #b3d89c;
$tea-green: #d0efb1;
$cambridge-blue: #9dc3c2;
$moonstone-blue: #77a6b6;
$blue-wonder: #4d7298;
$middle-green: #499f68;

// bulma variables
$section-padding: 3rem 1.5rem;

@use "../../node_modules/bulma/sass";
@use "../../node_modules/bulma/sass/utilities/mixins";
@use "../../node_modules/bulma/sass/utilities/initial-variables";

@use '../../node_modules/bootstrap-icons/font/bootstrap-icons.scss' with (
  $bootstrap-icons-font-dir: "../fonts",
);

nav.navbar a.ferme-is-active {
  background-color: hsl(0, 0%, 75%);
}

$tablet: initial-variables.$tablet;
$fullhd: initial-variables.$fullhd;

html, body {
  height: 100%;
}

.ferme-navbar-brand img {
  //height: 50px;
}

.ferme-header {
  &.ferme-header-with-logo {
    height: 100%;
    @include mixins.mobile {
      max-height: $ferme-logo-container-height-mobile + $ferme-navbar-height + $ferme-banner-height-mobile;
    }
    @include mixins.tablet-only {
      max-height: $ferme-logo-container-height-mobile + $ferme-navbar-height + $ferme-banner-height-tablet;
    }
    width: 100%;
    display: table;
  }
}

#ferme-header-logo {
  position: relative;
  text-align: center;
  display: table-row;
  @include mixins.until($tablet) {
    height: $ferme-logo-container-height-mobile;
  }
  @include mixins.from($tablet) {
    height: $ferme-logo-container-height;
  }
  vertical-align: middle;
  justify-content: center;
}


@keyframes bounce {
  from {
  }
  50%  {
    transform: translateY(-10px);
  }
  to   {
  }
}

.ferme-logo-img {
  vertical-align: middle;
  display: block;
  height: 100%;
  margin: 0 auto;
}

.ferme-logo {
  a {
    width: 100%;
    @include mixins.until($tablet) {
      height: $ferme-logo-height-mobile;
    }
    @include mixins.from($tablet) {
      height: $ferme-logo-height;
    }
  }
  @extend .has-text-centered;
  @include mixins.until($tablet) {
    height: $ferme-logo-container-height-mobile;
  }
  @include mixins.from($tablet) {
    height: $ferme-logo-container-height;
  }
  display: flex;
  align-items: center;
  address {
    span {
      font-size: 20px;
    }
  }
}

address span {
  display: block;
}

.ferme-logo-bio {
  position: absolute;
  top: 10px;
  right: 20px;
  span {
    display: inline-block;
  }
  img {
    width: 60px;
    display: inline-block;
  }
}

#fermemap {
  height: $ferme-map-height;
}

.ferme-navbar {
  @extend .navbar;
  @extend .has-shadow;
  height: $ferme-navbar-height;
  font-size: large;
}

.ferme-navbar-container {
  @extend .container;
}

.ferme-navbar-brand {
  @extend .navbar-brand;
}

.ferme-navbar-item {
  @extend .navbar-item;
  @extend .is-uppercase;
}

.ferme-navbar-burger {
  @extend .navbar-burger;
}

.ferme-navbar-menu {
  @extend .navbar-menu;
  align-items: center;
  justify-content: center;
}

.ferme-map {
}

.ferme-content {
  @extend .content;
}

.ferme-notification-container {
  padding-top: 2rem;
  @extend .container;
}

.ferme-notification {
  @extend .notification;
}

.ferme-notification-body {
}

.ferme-footer {
  @extend .footer;
  padding: 1rem 1.5rem 1rem;
}

.ferme-footer-content {
  @extend .content;
  @extend .has-text-centered;
}

h1 {
  @extend .title;
}

.ferme-columns {
  @extend .columns;
  @extend .is-multiline;
}

.ferme-column {
  @extend .column;
  display: flex;
  align-items: center;
}

.ferme-navbar-brand img {
  width: 150px;
}

.ferme-nologo-nav {
  &.ferme-navbar-brand {
    display: none;
  }
}

.ferme-body {
}

.ferme-main {
}

.ferme-banner {
  display: table-row;
  @include mixins.mobile {
    height: $ferme-banner-height-mobile;
  }
  @include mixins.tablet-only {
    height: $ferme-banner-height-tablet;
  }
  @include mixins.desktop {
    height: $ferme-banner-height;
  }
}

.ferme-banner-wrapper {
  position: relative;
  align-items: center;
  min-height: $ferme-banner-min-height;
  @include mixins.mobile {
    height: $ferme-banner-height-mobile;
  }
  @include mixins.tablet-only {
    height: $ferme-banner-height-tablet;
  }
  @include mixins.desktop {
    height: $ferme-banner-height;
  }
  overflow: hidden;
  @include mixins.until($tablet) {
    background-image: $ferme-banner-img-src-768;
  }
  @include mixins.tablet-only {
    background-image: $ferme-banner-img-src-1024;
  }
  @include mixins.desktop-only {
    background-image: $ferme-banner-img-src-1216;
  }
  @include mixins.widescreen-only {
    background-image: $ferme-banner-img-src-1408;
  }
  @include mixins.from($fullhd) {
    background-image: $ferme-banner-img-src;
  }
  @include mixins.desktop {
    background-attachment: fixed;
  }
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.ferme-content-img {
}

.ferme-title {
  @extend .title;
  @extend .has-text-centered;
  @extend .is-uppercase;
}

.ferme-subtitle {
  @extend .subtitle;
  @extend .has-text-centered;
  @extend .has-text-grey;
}

.ferme-media {
  @extend .media;
  padding-top: 1rem;
}

// remove 2px margin for .content figure
.content {
  .ferme-figure {
    margin-right: 0;
    margin-left: 0;
    img {
      border-radius: 8px;
    }
  }
}

.ferme-people-figure {
}

.ferme-people-img {
  border-radius: 50%;
  @include mixins.until($tablet) {
    height: $ferme-people-img-size-mobile;
    width: $ferme-people-img-size-mobile;
  }
  @include mixins.from($tablet) {
    height: $ferme-people-img-size;
    width: $ferme-people-img-size;
  }
  object-fit: cover;
}

.ferme-section {
  @extend .section;
  @extend .container;
}

.ferme-box {
  @extend .box;
}

.ferme-no-right-padding-on-desktop {
  @include mixins.from($tablet) {
    padding-right: 0;
  }
  .ferme-columns {
    @include mixins.from($tablet) {
      margin-right: 0;
    }
  }
}

.ferme-hidden {
  display: none;
}

.ferme-is-active {
  @extend .is-active;
}

.ferme-map-column {
  display: block;
  @include mixins.from($tablet) {
    padding-right: 0;
  }
}

.ferme-top-arrow-container {
  text-align: center;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: bottom 2s;
  animation: bounce 1.5s ease infinite;
}

.ferme-top-arrow {
  color: white;
  font-size: 2rem;
}

.ferme-hidden-on-mobile {
  @include mixins.until($tablet) {
    display: none;
  }
}

.ferme-logo-financeur {
  max-width: 200px;
  max-height: 130px;
}
