$fa-font-path: "../fonts";
@import "../../node_modules/fork-awesome/scss/fork-awesome.scss";

// logo font
/* latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local('EB Garamond Regular'), local('EBGaramond-Regular'), url(../fonts/eb-garamond-v9-latin-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// local variables
$ferme-logo-height-mobile: 150px;
$ferme-logo-container-height-mobile: $ferme-logo-height-mobile + 20px;
$ferme-logo-height: 200px;
$ferme-logo-container-height: $ferme-logo-height + 20px;
$ferme-navbar-height: 50px;
$ferme-people-img-size: 160px;

$granny-smith-apple: #b3d89c;
$tea-green: #d0efb1;
$cambridge-blue: #9dc3c2;
$moonstone-blue: #77a6b6;
$blue-wonder: #4d7298;
$middle-green: #499f68;

// bulma variables
$section-padding: 3rem 1.5rem;
//$navbar-background-color: $granny-smith-apple;
//$navbar-item-hover-background-color: $tea-green;
$navbar-item-active-background-color: hsl(0, 0%, 95%);

@import "../../node_modules/bulma/bulma.sass";

html, body {
  height: 100%;
}

.ferme-navbar-brand img {
  //height: 50px;
}

.ferme-header.ferme-header-with-logo {
  height: 100%;
  width: 100%;
  display: table;
}

#ferme-header-logo {
  position: relative;
  text-align: center;
  display: table-row;
  @include until($tablet) {
    height: $ferme-logo-container-height-mobile;
  }
  @include from($tablet) {
    height: $ferme-logo-container-height;
  }
  vertical-align: middle;
  justify-content: center;
}


@keyframes bounce{
     from {}
     50%  {transform: translateY(-10px);}
     to   {}
}
//#ferme-header-logo:after {
//  content: "";
//  position: absolute;
//  background-image: url(../img/epis.jpg);
//  background-position: 50% 50%;
//  top: 0;
//  left: 0;
//  opacity: 0.4;
//  background-size: cover;
//  width: 100%;
//  height: 100%;
//  z-index: -1;
//}

.ferme-logo-img {
  vertical-align: middle;
  display: block;
  height: 100%;
  margin: 0 auto;
}

.ferme-logo a {
  width: 100%;
  @include until($tablet) {
    height: $ferme-logo-height-mobile;
  }
  @include from($tablet) {
    height: $ferme-logo-height;
  }
}

.ferme-logo {
  @extend .has-text-centered;
  @include until($tablet) {
    height: $ferme-logo-container-height-mobile;
  }
  @include from($tablet) {
    height: $ferme-logo-container-height;
  }
  display: flex;
  align-items: center;
}

.ferme-logo address span {
  font-size: 20px;
}

address span {
  display: block;
}

.ferme-logo-bio {
  position: absolute;
  top: 20px;
  right: 20px;
}

.ferme-logo-bio span {
  display: inline-block;
}

.ferme-logo-bio img {
  height: 60px;
  display: inline-block;
}

#fermemap {
  height: 350px;
}

.ferme-navbar {
  @extend .navbar;
  @extend .has-shadow;
  height: $ferme-navbar-height;
  font-size: large;
}

.ferme-navbar-container {
  @extend .container;
}

.ferme-navbar-brand {
  @extend .navbar-brand;
}

.ferme-navbar-item {
  @extend .navbar-item;
  @extend .is-uppercase;
}

.ferme-navbar-burger {
  @extend .navbar-burger;
}

.ferme-navbar-menu {
  @extend .navbar-menu;
  align-items: center;
  justify-content: center;
}

.ferme-map {
}

.ferme-content {
  @extend .content;
}

.ferme-notification-container {
  padding-top: 2rem;
  @extend .container;
}

.ferme-notification {
  @extend .notification;
}

.ferme-notification-body {
}

.ferme-footer {
  @extend .footer;
  padding: 1rem 1.5rem 1rem;
}

.ferme-footer-content {
  @extend .content;
  @extend .has-text-centered;
}

h1 {
  @extend .title;
}

.ferme-columns {
  @extend .columns;
  @extend .is-multiline;
}

.ferme-column {
  @extend .column;
  display: flex;
  align-items: center;
}

.ferme-navbar-brand img {
  width: 150px;
}

.ferme-nologo-nav.ferme-navbar-brand {
  display: none;
}

.ferme-body {
}

.ferme-main {
}

.ferme-banner {
  display: table-row;
  height: 100%;
}

.ferme-banner-wrapper {
  position: relative;
  align-items: center;
  min-height: 250px;
  height: 100%;
  overflow: hidden;
}

.ferme-banner img {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  // bug: banner height bumping when url bar is hidding on mobile.
  // https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser
  height: 100vh;
  transition: height 2s ease-out;
}

.ferme-content-img {
}

.ferme-title {
  @extend .title;
  @extend .has-text-centered;
  @extend .is-uppercase;
}

.ferme-media {
  @extend .media;
  padding-top: 1rem;
}

// remove 2px margin for .content figure
.content .ferme-figure {
  margin-right: 0;
  margin-left: 0;
}

.ferme-people-figure {
}

.ferme-people-img {
  border-radius: 50%;
  height: $ferme-people-img-size;
  width: $ferme-people-img-size;
  object-fit: cover;
}

.ferme-section {
  @extend .section;
  @extend .container;
}

.ferme-box {
  @extend .box;
}

.ferme-no-right-padding-on-desktop {
  @include from($tablet) {
    padding-right: 0;
  }
}

.ferme-hidden {
  display: none;
}

.ferme-is-active {
  @extend .is-active;
}

.ferme-map-column {
  display: block;
}

.ferme-top-arrow-container {
  text-align: center;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: bottom 2s;
  animation: bounce 1.5s ease infinite;
}

.ferme-top-arrow {
  color: white;
}
